function Board.draw 5
push constant 31
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push local 0
pop local 4
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push constant 0
push local 4
push local 0
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push local 4
push local 0
push constant 2
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 2
call Math.multiply 2
push local 4
push local 0
push constant 3
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 3
call Math.multiply 2
push local 4
push local 0
push constant 4
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 4
call Math.multiply 2
push local 4
push local 0
push constant 5
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 5
call Math.multiply 2
push local 4
push local 0
push constant 6
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 6
call Math.multiply 2
push local 4
push local 0
push constant 7
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 7
call Math.multiply 2
push local 4
push local 0
push constant 8
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 3
push local 0
push constant 2
call Math.multiply 2
add
pop local 3
push local 4
push local 0
push constant 2
call Math.multiply 2
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push local 0
pop local 3
push local 0
push constant 2
call Math.multiply 2
pop local 4
label WHILE_EXP1
push local 2
push constant 4
lt
not
if-goto WHILE_END1
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push constant 0
push local 4
push local 0
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push local 4
push local 0
push constant 2
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 2
call Math.multiply 2
push local 4
push local 0
push constant 3
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 3
call Math.multiply 2
push local 4
push local 0
push constant 4
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 4
call Math.multiply 2
push local 4
push local 0
push constant 5
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 5
call Math.multiply 2
push local 4
push local 0
push constant 6
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 6
call Math.multiply 2
push local 4
push local 0
push constant 7
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push local 0
push constant 7
call Math.multiply 2
push local 4
push local 0
push constant 8
call Math.multiply 2
call Screen.drawRectangle 4
pop temp 0
push local 2
push constant 1
add
pop local 2
push local 3
push local 0
push constant 2
call Math.multiply 2
add
pop local 3
push local 4
push local 0
push constant 2
call Math.multiply 2
add
pop local 4
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
