function Sprites.knight_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 897
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8089
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16285
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16271
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16259
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4089
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.knight_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8088
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16284
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16286
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16262
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.pawn_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.pawn_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.rook_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 26215
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 26215
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 26215
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.rook_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 26214
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 26214
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 26214
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.king_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16771
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 25543
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30319
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15421
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3705
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3697
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.king_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16770
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 25542
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30318
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31806
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 7800
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3696
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.bishop_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.bishop_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.queen_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.queen_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14748
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31806
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32766
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.tile_white 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sprites.tile_black 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
